/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Oswald', sans-serif;
  background: #dedede;
}

.odometer.odometer-theme-default {
  font-size: 50px;
  color: #222;
  margin-bottom: 24px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
